<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content-wrap">
        <div class="container">
            <h2 class="centered-title">Billing System</h2>
            <p>
                Hello<br>
                <a href="mailto:mail">hello</a>
            </p>
        </div>
    </div>
    <footer>
        footer
    </footer>
</body>
</html>
